@CHARSET "EUC-KR";

.content-half{
	width:50%;
}

.content-full{
	width:100%;
}
.x_panel{
	height:490px;
}

.line-break{
	word-break:break-all;
	white-space:pre-line;	
}
#response{
	height:410px;
	overflow-y:auto;
}
#request{
	width:430px;
	height:410px;
	margin:0;
	padding:5px;
	
}